.wrapper {
  @apply bg-white hover:bg-[#EFF0F5] w-full rounded-[8px] shadow-box flex justify-between px-4 pt-[13px] pb-[27px]
      sm:py-6;
}
.logo {
  @apply w-[66px] h-[66px] min-w-[66px] object-cover rounded-[50%] mr-[19px]
      sm:w-[85px] sm:h-[85px] sm:min-w-[85px] sm:mr-[26px];
}
.post_date {
  @apply whitespace-nowrap;
}
.title {
  @apply mb-2 h-[50px] overflow-hidden text-ellipsis max-w-max;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.name {
  @apply mb-[5px]
      sm:mb-2;
}
.location_logo {
  @apply mr-2;
}
.right_side {
  @apply flex flex-col justify-between items-end;
}
.stars_container {
  @apply self-center m-0 flex items-center
      2sm:ml-[85px]
      sm:m-0
      lg:mx-8 lg:mr-[170px];
}
.star {
  @apply w-[10px] sm:w-[19px] cursor-pointer;
}
.mobile_top {
  @apply flex justify-between mb-[14px];
}
